services:
  redis:
    image: redis:7.4-alpine
    container_name: redis
    # 외부 DB 툴 접속을 위한 포트 매핑
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_DB=${REDIS_DB}
    command:
      - redis-server
      - --bind
      - "0.0.0.0"
      - --appendonly
      - "yes"
      - --save
      - "60"
      - "1000"
      - --databases
      - "${REDIS_DB}"
      - --maxmemory
      - "128mb"
      - --maxmemory-policy
      - "volatile-lru"
      - --requirepass
      - "${REDIS_PASSWORD}"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    mem_limit: 256m
    memswap_limit: 384m
    cpus: "0.25"
    healthcheck:
      test: ["CMD", "sh", "-lc", "redis-cli -a \"$REDIS_PASSWORD\" ping | grep -q PONG"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - e107_net
    env_file:
      - .env

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    depends_on:
      - redis
    # ports:
    #   - "5540:5540"
    environment:
      - RI_PROXY_PATH=/redis
      - RITRUSTEDORIGINS=https://brainsecond.site
      - RI_ACCEPT_TERMS_AND_CONDITIONS=yes
    volumes:
      - redisinsight_data:/data
    restart: unless-stopped
    networks:
      - e107_net

networks:
  e107_net:
    external: true

volumes:
  redis_data:
    external: true
  redisinsight_data:
    external: true
