spring:
  application:
    name: SecondBrain

  profiles:
    active: local

  datasource:
    url: ${POSTGRES_DB_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: "${BASE_URL}/login/oauth2/code/google"

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  algorithm: HS256
  expire-time:
    access: 21d
    refresh: 30d

secondbrain:
  oauth2:
    redirect-url: ${OAUTH2_REDIRECT_URL}
    failure-redirect-url: ${OAUTH2_FAILURE_REDIRECT_URL:${OAUTH2_REDIRECT_URL}?error=true}

security:
  jwt:
    cookie:
      secure: ${JWT_COOKIE_SECURE}

logging:
  level:
    root: INFO
    uknowklp.secondBrain: DEBUG
