services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        COMPOSE_VERSION: "v2.40.2"
    container_name: jenkins
    environment:
      - TZ=Asia/Seoul
      - JAVA_OPTS=-Xms512m -Xmx3072m -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -Dfile.encoding=UTF-8 -Duser.timezone=Asia/Seoul -Djenkins.install.runSetupWizard=false
      - DOCKER_HOST=unix:///var/run/docker.sock
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc/jenkins.yaml
      - ADMIN_USER=${JENKINS_ADMIN_USER}
      - ADMIN_PASS=${JENKINS_ADMIN_PASS}
      - JENKINS_URL=${JENKINS_URL}
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false -Xms512m -Xmx3072m -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -Dfile.encoding=UTF-8 -Duser.timezone=Asia/Seoul
    ports: []
    volumes:
      - jenkins_home:/var/jenkins_home
      - ./casc:/var/jenkins_home/casc:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker:ro
      - /usr/libexec/docker/cli-plugins:/usr/libexec/docker/cli-plugins:ro
    mem_limit: 4g
    memswap_limit: 4g
    cpus: "1.5"
    networks:
      - e107_net
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "bash", "-lc", "curl -fsS http://127.0.0.1:8080/login >/dev/null || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 10
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"

networks:
  e107_net:
    external: true

volumes:
  jenkins_home:
    external: true
