services:
  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "7687:7687"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./snippets:/etc/nginx/snippets:rw
      - letsencrypt:/etc/letsencrypt
      - certbot-webroot:/var/www/certbot
    mem_limit: 128m
    memswap_limit: 128m
    cpus: "0.1"
    networks:
      - e107_net

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    # 평소엔 정지 상태로 두고, 필요할 때 run 로 일회성 실행
    volumes:
      - letsencrypt:/etc/letsencrypt
      - certbot-webroot:/var/www/certbot
    # (원하면 아래처럼 idle 명령으로 띄워두고 exec로 갱신해도 됨)
    # command: ["sh", "-c", "tail -f /dev/null"]

networks:
  e107_net:
    external: true

volumes:
  letsencrypt:
    external: true
  certbot-webroot:
    external: true
