groups:
  - name: node_exporter_alerts
    rules:
      - alert: NodeExporterDown
        expr: up{job="node-exporter"} == 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "Node Exporter down"
          description: "Node Exporter가 1분 이상 다운 중입니다! 확인 바랍니다!!"
          
      - alert: HighCPUUsage
        expr: 100 - (avg by(instance) (rate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 90
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: "High CPU usage detected"
          description: "EC2 인스턴스의 CPU 사용량이 5분 동안 90퍼센트 이상입니다!! 불필요한 프로세스 종료를 권장합니다!!"

      - alert: HighMemoryUsage
        expr: 100 * (1 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes)) > 90
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: "메모리 사용률 90% 초과"
          description: "EC2 인스턴스의 메모리 사용률이 5분간 90%를 초과했습니다!! 불필요한 프로세스 종료를 권장합니다!!"

      - alert: DiskSpaceFree10Percent
        expr: node_filesystem_free_bytes{fstype!~"tmpfs|aufs|overlay"} / node_filesystem_size_bytes{fstype!~"tmpfs|aufs|overlay"} * 100 < 10
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: "Low disk space"
          description: "디스크(스토리지) 사용량이 90퍼센트를 초과했습니다!! 로그파일 정리를 권장합니다!!"

