services:
  rabbitmq:
    image: heidiks/rabbitmq-delayed-message-exchange:3.13.3-management
    container_name: rabbitmq
    restart: unless-stopped
    command: >
      sh -c "rabbitmq-plugins enable rabbitmq_delayed_message_exchange &&
             rabbitmq-server"

    ports:
      - "5672:5672"

    expose:
      - "15672"

    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_DEFAULT_VHOST}

    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
      # - ./definitions.json:/etc/rabbitmq/definitions.json:ro

    mem_limit: 512m
    memswap_limit: 512m
    cpus: "0.3"

    networks:
      - e107_net

networks:
  e107_net:
    external: true

volumes:
  rabbitmq_data:
    external: true
