services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      TZ: Asia/Seoul
    # 외부 DB 툴 접속을 위한 포트 매핑
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - e107_net
    mem_limit: 3g
    memswap_limit: 4g
    cpus: "1.0"
    env_file:
      - .env

volumes:
  postgres_data:
    external: true

networks:
  e107_net:
    external: true
