global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'instance']
  group_wait: 30s
  group_interval: 1m
  repeat_interval: 1h
  receiver: 'mattermost'

receivers: 
  - name: 'mattermost'
    slack_configs: 
      - api_url: 'https://meeting.ssafy.com/hooks/obryq4gt83fxpgo6dq5t4ew3zw'
        channel: '#monitoring-e107'
        send_resolved: true
        title: |-
          [{{ .Status | toUpper }}] 그라파나에서 확인하기!
        title_link: >-
          https://brainsecond.site/grafana/alerting/list?search=state:firing
        text: |-
          {{ range .Alerts }}
          {{ if eq .Status "firing" }}
          #### :conan_hanzawa: **상황 발생!** :conan_hanzawa:
          *EC2 인스턴스 이상징후 감지 시 알림입니다*
          **상황:** {{ .Annotations.summary }} ({{ .Labels.severity }})
          **설명:** {{ .Annotations.description }}
          #### Buster Call
          @9526yu @lsj6924 @yeneua.dev @dodwn48 @gkgkgkgk22 @hro
          {{ else if eq .Status "resolved" }}
          #### :conan_machi: **상황 종료** :conan_machi:
          **상황:** {{ .Annotations.summary }} ({{ .Labels.severity }})
          {{ end }}
          {{ end }}
          
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'instance']